mat-grid-tile {
    background: grey;
    border-right: 30px;
    box-shadow: 4px 4px 4px black;
  }


.quadrotto {
  background: lightblue;
  border-radius: 10px;
  overflow: unset;
  
  
}

.example-grid-list {
  padding-right: 24px;
}
/* .quadrotto :hover{
    background: lightblue;
    border-radius: 5px;
} */

.example-card {
  max-width: 400px;
  display: flex;
  box-shadow: 4px 4px 4px #000000;
}



